/* This file is for your main application css. */

h2 {
    font-size: 2.5em !important;
}

.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute;
    top: 38px;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}